*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;

}
body{
    background-color: #f5f5f5;
}

.container{
    max-width: 1350px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30.5px 0;
}

nav button{
    margin: 24px 0px;
    padding: 15px 30px;
    color: #006a50;
    border: 1px solid #006a50;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.banner{
    display: flex;
    background-color: #c6e4d6;
    border: none;
    border-radius: 24px;
    align-items: center;
    padding: 80px 60px;
}
 .banner .banner-content {
    padding: 80px 60px;
    
 }


 .banner .banner-content p{
    font-size: 24px;
    font-weight: 500;
    color: #0e0e0e50;
 }

 .banner .banner-content h2{
    font-size: 56px;
    font-weight: 700;
    color: #0e0e0e;
    margin-top: 16px;
 }
 
 .banner .banner-content button{
    margin-top: 24px;
    padding: 17px 34px;
    background-color: #006a50;
    color: white;
    border: none;
    border-radius: 8px;

 }

 .pillar{
    margin-top: 80px;

 }

 .pillar h2{
    font-size: 40px;
    font-weight: bold;
    color: #0e0e0e;
    margin-bottom: 32px;
 }

 .pillar .pillar-cards-parent{
    display: flex;
    justify-content: space-between;
    gap: 10px;
 }

 .pillar .pillar-cards-parent .pillar-cards{
    width: 23%;
    height: 244px;
    background-color: #FFFFFF;
    padding: 24px;
    border: none;
    border-radius: 16px;
 }

 .pillar .pillar-cards-parent .pillar-cards img{
    margin-bottom: 24px;
 }

 .pillar .pillar-cards-parent .pillar-cards h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
 }

 .pillar .pillar-cards-parent .pillar-cards p{
    font-size: 16px;
    font-weight: 500;
    color: #0e0e0e70;
 }

 .vision{
    margin-top: 80px;
 }

 .vision h2{
    font-size: 40px;
    font-weight: bold;
    color: #0e0e0e;
    margin-bottom: 32px;
 }

 .vision p{
    font-size: 16px;
    font-weight: 500;
    color: #0e0e0e70;
    margin-bottom: 32px;
 }

 .vision .vision-cards-parent{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
 }

 .vision .vision-cards-parent .vision-cards{
    width: 35%;
    height: 325px;
    padding: 32px;
    border: none;
    border-radius: 16px;
 }

 .vision .vision-cards-parent .vision-cards img{
    margin-bottom: 24px;
 }

 .vision .vision-cards-parent .vision-cards h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
 }

 .vision .vision-cards-parent .vision-cards p{
    font-size: 16px;
    font-weight: 500;
    color: #0e0e0e70;
 }

 #vision-card1{
    background-color: #5490F533;
 }

 #vision-btn1{
    background-color: #5490F5;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
 }

 #vision-card2{
    background-color: #C6E4D6;
 }

 #vision-btn2{
    background-color: #09A15C;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
 }

 #vision-card3{
    background-color: #F7EBCF;
 }

 #vision-btn3{
    background-color: #FFC239;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
 }




